<b>{{header}}</b>

{{#players}}
{{index}}) <i>{{steamUsername}}</i>
steamId: <code>{{steamId64}}</code>
{{^hasRankHistory}}
  {{noRankMessage}}
{{/hasRankHistory}}
{{#rankEntries}}
{{{round}}} {{date}} {{arrow}} <b>{{medal}}</b>
{{/rankEntries}}

{{/players}}